@media(max-width:1000px){
    .member{
        width: 48px;
        margin-bottom: 20px;
    }
}
@media(max-width:720px){

    .member{
        width: 65%;
    }

}
@media(max-width:500px){
    .member{
        width: 100%;
    }
}